<table class="center" style="width:100%">
  <tr><th>
   <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul></th></tr>
</table>
<img src = "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/remexpic.png">
<h2>REMAX ESWATINI WINS REAL ESTATE 2019 CUSTOMER SERVICE EXCELLENCE AWARD</h2>
<p>Remax is known globally for good customer service and as new owners of the franchise they will do all they can to ensure that they continue providing the best service to customers.</p>

<p>They won the 2018 Customer Service Excellence Award and they have also snapped the 2019 award. This must mean that they are doing something right.</p>
<p>The Customer Service Excellence Awards are conducted by the Chartered Institute of Customer Management (CICM) and the Institute of Research, Management and Development (IRDM).
Eswatini Property Review caught up with Remax Eswatini’s Co- Franchise owner Jay DuPont on what winning this award means to them. “Firstly let me just state that we happy that we have been recognized as leaders in customer service in our sector for two consecutive years. Having mentioned that I must state that customer service is generally poor in the country, most business owners actually believe that they are doing you a favour by providing you with service, not just excellent service but just service” he notes. DuPont states that he feels that there is a big opportunity for businesses not just in real estate but in other sectors to get more customers by providing quality customer service. He attributes the poor service in the country to the lack of training in customer service and feels that we must adopt a good customer service culture.</p>
<p>He does acknowledge that they are not the same team that was responsible for the two previous customer service excellence awards as he recently bought the business with his partner Euan Collyer who previously headed Swaki’s maintenance department. DuPont is however, quick to point out that as an agency Remax is known globally for good customer service and as new owners of the franchise they will do all they can to ensure that they continue providing the best service to customers. He says they will ensure that they improve the service by putting in place top notch communication services. “At Remax we will ensure that communication will be at the forefront of everything that we do and I strongly believe that through that we will continue providing high quality service to our customers” he notes.</p>
<p>Du Pont further notes that most people in the real estate business do not understand that it is actually a Monday to Monday industry which he says they will work hard to ensure that they deliver that promise to their clients of always being there when they are required.
The Franchise owner states that the fact they are the number real estate agency in the world enables them to have good systems and continue providing good customer service to their clients.
</p>
<label>By Ntokozo Nkambule</label>