<table  class="center" style="width:100%">
<tr><th>
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul></th></tr></table>

<img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/swatinif.png">
<h1>CAN NON-CITIZENS PURCHASE AND OWN IMMOVABLE PROPERTY IN ESWATINI?</h1>

<p>
Today’s topic has undoubtedly elicited its fair share of polarizing views from the general public, a section of the print media and professionals working in the property space such as estate agents, property developers, conveyancers and property valuers.   As the office responsible for registering property in the Kingdom we find it prudent and fitting that we address this question in our column.</p> 
<p>So can non-citizens purchase immovable property in Eswatini? 
It is to the Constitution, the Supreme law of the land that answers to this question are to be traced. Section 211(4) stipulates that post the enactment of the Constitution in 2005, all agreements that have the effect of vesting ownership of land in a non-citizen or company majority owned by non-citizens are null and void. The exact language of the said section reads as follows:</p> 
“Subject to subsection (5), all agreements the effect of which is to vest ownership in land in Swaziland in a non-citizen or a company the majority of whose share-holders are not citizens shall be of no force and effect unless that agreement was made prior to the commencement of this Constitution”.

<p>The text of section 211(4) is very clear and unequivocal. It however does not fully assist us with respect to answering the question at hand because it (subsection 4) is subject to section 211(5). One can therefore never fully respond to the question of whether or not foreigners can purchase land in Eswatini without having regard to section 211(5) which reads as follows:</p> 
 	“A provision of this chapter may not be used to undermine or frustrate an existing or new legitimate business undertaking of which land is a significant factor or base”.

<p>Section 211(4) sets out the general and underlying position being that post the promulgation of the Constitution Act No. 1 of 2005, non-citizens or their majority- owned companies cannot purchase immovable property in Eswatini. Section 211(5), however, introduces an exception or exemption to this general position. A business undertaking, existing or new, which uses land as a significant factor or base is exempted from the application of section 211(4). In other words, businesses, using land as a significant factor, owned by non-citizens either personally or through companies they majority own, can purchase immovable property in Eswatini. Most often than not this will be industrial, commercial and agricultural land.</p> 

<p>Practically, this has meant that the Deeds office has stopped registering residential property into the personal names of non-citizens. This prohibition also applies to companies’ majority owned by non-citizens that do not use land as a significant factor or base. A non-citizen can thus not simply incorporate a company use it to buy residential property. Individuals and companies that use land as a significant factor or base have not been affected by this prohibition on the strength of section 211(5). Long leases above 10 years are not affected by this prohibition. Hence non-citizens can acquire property, whether residential or commercial, on the basis of long leases. </p>

<p>Admittedly this strict enforcement of Section 211(4) read together with 211(5) only started in 2017 notwithstanding that the Constitution was passed in 2005. Naturally, a number of properties were registered into the names of non-citizens or their majority owned companies between 2005 – 2016. Section 7 of the Deeds Registry Act instructs that a registered title deed can only be cancelled on the strength of a court order so such registrations remain valid at law until otherwise ordered by the courts.</p>

 

<p>Subordinate legislation
The office’s strict application of the Constitution has attracted both applause and criticism. However, valid some of the points advanced by both sides, our response to both has always been that section 2 of the Constitution obliges every citizen to uphold and defend it. We are merely manifesting that expectation. Any tampering down of this constitutional position lies in the enactment of subordinate legislation in terms of Section 217 of the Constitution. Such legislation can assist, for instance, in clearly articulating what “land as a significant factor or base” really means or encompasses. Allow non-citizen professionals with scarce skills who have worked and significantly contributed to the advancement of the country to purchase residential property or may be even allow for residential property beyond a certain threshold, say 4 million emalangeni as confirmed by at least 3 qualified property evaluators, to be bought on the free market by even non-citizens.<p>

<p>Regionally, and globally the Kingdom is not the only one with such a position limiting non-citizen’s ability to own land. Just recently New Zealand passed similar legislation. We can, however, forge a path through subordinate law that will on the one hand promote the interests of citizens whilst simultaneously sufficiently communicating the message that we are open for business and leisure as a country.
</p>

<label>By Ntokozo Nkambule</label>