<table class="center" style="width:100%">
  <tr>
  <th colspan="2">
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul> </th></tr>

<tr>
  <td colspan="2"><h3>Advertising Rates</h3></td>
</tr>

<tr>
  <td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/doublespread.jpg" width="150" height="100"></td>
<td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/fullpage.jpg" width="150" height="100"></td>
</tr>

<tr>
<td>Double Page Spread / DPS
Inside Cover DPS: E15 250
Standard DPS: E13 500
</td><td>Full Page Ad / FPA
Inside Front Cover FPA: E12 750
Back Cover: E13 250 │ Inside Back Cover FPA: E12 000
Standard FPA: E11 850</td>
</tr>

<tr>
<td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/advertorial.jpg" width="150" height="100"></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/halfpage.jpg" width="150" height="100"></td>
</tr>
<tr>
  <td>Advertorial
Full Page Advertorial: E10 850
Half Page Advertorial: P.O.A
</td><td>Half Page Ad
Half Page Ad: E7 750</td>
</tr>

<tr>
<td>
<img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/thirdpage.jpg" width="150" height="100">
</td>
<td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/quarterpage.jpg" width="150" height="100"></td>
</tr>
<tr>
  <td>Third Page Ad
1/3 (H): E6 500
1/3 (V): E6 500
</td><td>Quarter Page Ad
¼ Page Ad: E4 85</td>
</tr>

<tr>
  <td colspan="2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-8wmj7e/master/src/assets/stripad.jpg" width="150" height="100">
</td>

</tr>

<tr>
<td colspan="2">
 Strip Ad
Cover Strip: E5 450
DPS Strip: E4 500
(H) Standard Strip: E2 500
</td>
</tr>
</table>