<table class="center" style="width:100%">
<tr>
  <th colspan="2">
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul> </th></tr>

<tr> 
  <td><div class="container"><img src = "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/remexpic.png" height="400" width="600"><div class="content"><a [routerLink]="['/remax']">CONSIDER RE-ADJUSTING YOUR MONTHLY BANK LOAN REPAYMENT</a></div>
</div></td>

<td><div class="container"><img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/mall1.jpg" height="400" width="600"><div class="content"><a [routerLink]="['/swaprop']">With the spread of COVID-19 and the 20 Day Lock down effected by the Eswatini government, we have decided to postpone the printing of the March -April 2020 Edition.</a></div>
</div></td>
</tr>

<tr> 
  <td><div class="container"><img src = "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/remexpic.png" height="400" width="600"><div class="content"><a [routerLink]="['/remax']">ESWATINI HOUSING BOARD OPEN TO DELAYED RENTAL PAYMENT FOR MAY & JUNE</a></div>
</div></td>

<td><div class="container"><img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/mall1.jpg" height="400" width="600"><div class="content"><a [routerLink]="['/swaprop']">WE WILL CONTINUE COLLECTING RENT..UNLESS...</a></div>
</div></td>
</tr>

<tr> 
  <td><div class="container"><img src = "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/remexpic.png" height="400" width="600"><div class="content"><a [routerLink]="['/remax']">Against the backdrop of the Coronavirus pandemic the SARB has announced a cut in the Repo Rate by 100 basis points (1%).</a></div>
</div></td>

<td><div class="container"><img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/mall1.jpg" height="400" width="600"><div class="content"><a [routerLink]="['/swaprop']">The South African Reserve Bank (SARB) has cut the Repo rate by a further 100 basis points (1%).</a></div>
</div></td>
</tr>
