<table class="center" style="width:100%">
<tr>
  <th>
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul> </th></tr>
  
  
<tr>
 <td><h3>Readership Target Market</h3></td>
</tr>

<ul>
<li><tr><td>Investors</td></tr></li>
 
<li><tr><td><td>Key Opinion Leaders</td></tr></li>

<li><tr><td>Decision Makers</td></tr></li>
  
<li><tr><td><td>Financial Advisors</td></tr></li>

<li><tr><td>Real Estate Agents </td></tr></li>
  
<li><tr><td><td>Property Buyers</td></tr></li>

<li><tr><td>Home Owners</td></tr></li>
  
<li><tr><td><td>Conveyancers & Legal</td></tr></li>

<li><tr><td>Practitioners </td></tr></li>
  
<li><tr><td><td>Business Owners</td></tr></li>

<li><tr><td>Interior and Exterior</td></tr></li>
  
<li><tr><td><td>Designers</td></tr></li>

<li><tr><td>Government Line Ministries</td></tr></li>
  
<li><tr><td>Departments & Parastatals</td></tr></li>

<li><tr><td>Architects</td></tr></li>

<li><tr><td>Hospitality Industry</td></tr></li>

<li><tr><td>Practitioners</td></tr></li>

<li><tr><td>Other Property Specialists</td></tr></li>

</ul>
</table>
