

<table class="center" style="width:100%">
<tr>
  <td><h2> Downloads!!!!</h2></td>
</tr>

<tr>
<td><a href="http://bit.ly/EswatiniPropertyReview-Issue6"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Issue6.png" alt="Click to Download" width="1000" height="700"></a></td>
</tr>

<tr>
<td><a href="http://bit.ly/EswatiniPropertyReview-Issue5"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Issue5.png" alt="Click to Download" width="1000" height="700"></a></td>
</tr>

<tr>
<td><a href="http://bit.ly/EswatiniPropertyReview-Issue4"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Issue4.png" alt="Click to Download" width="1000" height="700"></a></td>
</tr>

<tr>
<td><a href="http://bit.ly/EswatiniPropertyReviewVol1-Issue3"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Issue3.PNG" alt="Click to Download" width="1000" height="700"></a></td>
 </tr>

<tr>
<td><a href="http://bit.ly/EswatiniPropertyReviewVol1-Issue2"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/issue2.png" alt="Click to Download" width="1000" height="700"></a></td>
 </tr>

<tr>
<td><a href="http://bit.ly/EswatiniPropertyReviewVol1-Issue1"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Issue1.png" alt="Click to Download" width="1000" height="700"></a></td>
</tr>

</table>
