<table class="center" style="width:100%">
<tr>
  <th colspan="2">
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul> </th></tr>
</table>
<img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/mall1.jpg">
<h1>HIGH OCCUPANCY LEVELS LEAD TO E43 MILLION PROFIT FOR SWAPROP</h1>
<p>The increase is attributed to increased rentals at The Hub and Nhlangano Mall arising from additional space being let” states the company’s results.
The Swaziland Property Investment Limited (SWAPROP) has recorded an increase in its profit for the ended 30 June 2019. SWAPROP is the only Real Estate Investment Trust (REIT) listed on the Eswatini Stock Exchange.</p>
<p>The company stated in its released results that its Group occupancy levels were high and rental income before straight lining of leases adjust ment increased from E17.4 million to E20.5 million. This translates to a E3.2 million increase. “The increase is attributed to increased rentals at The Hub and Nhlangano Mall arising from additional space being let” states the company’s results.</p>
<p>On the downside, the Group stated that its group expenditure in 2019 increased as a result of a rise in water tariffs, parking costs and accounting fees, and a higher depreciation and bad debt charge. It also states that the lower bad debt recoveries in the current year compared to 2018.

  ngb-datepicker
</p>
<label>By Ntokozo Nkambule</label>