<table class="center" style="width:100%">
<tr>
  <th colspan="2">
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul> </th></tr>

<tr> 
  <td><div class="container"><img src = "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/houseflp.jpg" height="400" width="600"><div class="content"><a [routerLink]="['/housef']">
  UNDERSTANDING HOUSE FLIPPING WITH REMAX ESWATINI’S LYLE HUTTON</a>
  </div>
</div>
  
  </td>
  
  <td><div class="container">
  <img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/swatinif.png" height="400" width="600"><div class="content"><a [routerLink]="['/deeds']">CAN NON-CITIZENS PURCHASE AND OWN IMMOVABLE PROPERTY IN ESWATINI?</a>
  </div>
</div></td>
 </tr>
<!--
<tr>
  <td><a [routerLink]="['/housef']">UNDERSTANDING HOUSE FLIPPING WITH REMAX ESWATINI’S LYLE HUTTON</a></td>
  <td><a [routerLink]="['/deeds']">CAN NON-CITIZENS PURCHASE AND OWN IMMOVABLE PROPERTY IN ESWATINI?</a></td>
</tr>-->

<tr> 
  <td><div class="container"><img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/housep.jpg" height="400" width="600"><div class="content"><a [routerLink]="['/hinsure']">WHY YOUR HOMEOWNERS INSURANCE CLAIM WILL BE REJECTED</a></div>
</div></td>
 </tr>
<!--
<tr>
  <td><a [routerLink]="['/hinsure']">WHY YOUR HOMEOWNERS INSURANCE CLAIM WILL BE REJECTED</a></td> <td></td>
</tr>-->
<!--
<tr> 
  <td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Secttitle1.jpg"></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Secttitle1.jpg"></td>
</tr>
-->
</table>