<table class="center" style="width:100%">
<tr>
  <th colspan="2">
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul> </th></tr>
</table>

<img src="$1">
<h2>WE WILL CONTINUE COLLECTING RENT..UNLESS...</h2>

<p>Following The Minister of Housing and Urban Development, Prince Simelane's plea that landlords should not collect rent, property owners and landlords have hit back saying they will continue collecting rent.</p>

<p>A prominent Real Estate Agency in the country which spoke on condition of anonymity for fear of victimization said they will continue collecting rent on behalf of their clients unless government and banks issue a statement that they should stop doing so. It is important to note that the Minister's plea was in his own capacity not government. The Agency said the challenge was that as much as they wanted to assist tenants but their clients also had financial obligations.</p>

<p>"We strongly believe that suspending rental payments makes a lot of sense in this financial climate, but our clients have financial obligations with banks and other institutions. If financial institutions and government order us to stop collecting rent and they put a plan in action we would oblige" they noted.
</p>