<!--<table>
<tr>
  <td><a [routerLink]="['/comm']"><h3 align="center">Commercial News!!!</h3></a></td><td><a [routerLink]="['/resi']"><h3 align="center">Residential News!!!!</h3></a></td>
</tr>

<tr> 
  <td><a [routerLink]="['/comm']"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Comm1.jpg"></a></td>
 
 <td><a [routerLink]="['/resi']"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Secttitle1.jpg"></a></td>
 </tr>

<tr>
   <td><a [routerLink]="['/landl']"><h3>Leisure and Lifestyle</h3></a></td><td><a [routerLink]="['/inter']"><h3>International News</h3></a></td>
</tr>
<tr>
  <td><a [routerLink]="['/landl']"><img src=""></a></td>
  <td><a [routerLink]="['/inter']"><img src=""></a></td>
</tr>

</table>-->
<a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>