<table  class="center" style="width:100%">
<tr><th>
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul></th></tr></table>
<img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/housep.jpg">
<h1>WHY YOUR HOMEOWNERS INSURANCE CLAIM WILL BE REJECTED</h1>
  <p>
The summer season is a time when people are excited because it brings a breath of fresh air and good sunshine. It can, however, just turn out to be a frustrating time for homeowners and short term insurance companies. This is because this season brings with it storms, floods and all sorts of undesirable natural disasters.</p> 
<p>To ensure that the spring and summer season is jolly for you, take note of the following pointers outlined by the Chief Executive Officer of Phoenix of Swaziland Assurance Company, Abhijit Ghose which will ensure that you are covered, hailstorm or not.</p> 
<p>Understand Your Insurance Policy
 Homeowners should examine and understand their insurance policies, and ensure that they are covered for all possible eventualities. Being underinsured opens people up to risks - and so when events take place such as extreme weather, more bad news might be on the way. Don’t always go for the cheapest option-make sure that the saving isn’t coming at the expense of a much needed benefit.</p> 
<p>Poor Maintenance
A property claim might be rejected if the property didn’t have adequate drainage, retaining walls were not thick enough or foundations were poor quality. Gutters and drains should be regularly cleaned to remove blockage of insurance. Homeowners should look for damp spots, mould on walls and ceilings, as well as any evidence of leaking pipes. Ensure that renovations are done with the help of an architect in consultation with an engineer to make sure that the building work is structurally sound.</p> 
<p>Make a Date to Check Your Policy
Policy holders should read through their policy at least once a year to make sure that it is aligned with the current value and status of the insured assets. You may not remember that you have made a change to your home that your insurer should know about, and reading your policy could jog your memory. In some cases a change, like installing a security system, could actually result in a reduced premium.”</p> 
<p>Cover the True Value of Your Property
It is vital that your insurance covers the true value of your property and car. If you are underinsured - which means that you are insured for a value that is lower than the total value of your possessions - then your insurance may only pay out a representative portion of the costs of the damage. Don’t under estimate costs to save on premiums. You could be at risk of a reduced pay out when you need it most. If you are uncertain about any of this, speak to your insurer right away to get clarity on your cover, and make adjustments where necessary.</p> 
<p>Non-disclosure
Non-disclosure is when important medical, financial, lifestyle or occupational questions are answered incorrectly or where important information is omitted when cover is first bought. It ranges from deliberate fraud to innocent omissions where certain information is simply forgotten. Full details must be given to the insurance company at all times. It amounts to dishonesty if you fail to disclose all information or misrepresent facts. Also be aware of any spelling or administrative errors.</p>

<label>By Ntokozo Nkambule</label>