<table align="center">
  <tr>
    <!--<th colspan="2"><a [routerLink]="['/']">
 <img src=" https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/logo.JPG" width="100%">

 <img src=" https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/EswatiniProplogocropped.png" width="200">
</a></th>

  <th><a href="https://twitter.com/EswatiniProp"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/twitter.png" height="32" width="32"></a></th>

<th><a href="https://soundcloud.com/user-689043424-270128706"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/soundcloud.png" height="32" width="32"></a></th>

<th><a href="https://www.facebook.com/EswatiniPropertyReview/"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/facebook.png" height="32" width="32"></a></th>

<th><a href="https://www.youtube.com/channel/UCa2IAo3HbSkD5G25ZQ01csQ/videos?disable_polymer=1"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/Youtube.jpeg" height="2" width="62"></a></th>

<th><a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/insta2.png" height="32" width="32"></a></th>
<td><a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i></a></td>
<td><a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">search</i></a></td>
<td><a [routerLink]="['/sections']" class="button fancy-button"><i class="material-icons">menu</i></a></td>
  </tr>

<td><label for="Search">Search</label></td>
  <td><input id="Search" type="text" formControlName="Search"></td></tr>
  
<tr align="center">
<td><a [routerLink]="['/sections']" class="button fancy-button"><i class="material-icons">menu</i></a></td>
<td><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></td>
<td><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></td>
<td><a [routerLink]="['/advert']" class="button fancy-button"><h2>ADVERTISE</h2></a></td>
<td><a [routerLink]="['/subsc']" class="button fancy-button"><h2>SUBSCRIBE</h2></a></td>
<td><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></td>
<td><a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i></a></td>
<td><a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">search</i></a></td>
<!--<td>
<a [routerLink]="['/free']" class="button fancy-button">Free Downloads</a></td>
<td>
<a [routerLink]="['/free']" class="button fancy-button">About us</a></td>

</tr>
</table>-->

<ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>
    </div>
  </li>
<li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/advert']" class="button fancy-button"><h2>ADVERTISE</h2></a></li>
<li><a [routerLink]="['/subsc']" class="button fancy-button"><h2>SUBSCRIBE</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
<li><a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i></a></li>
 </ul> 

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
<!--
<nav role="navigation">
  <ul>
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a>
      <ul class="dropdown">
        <li><a href="#">Sub-1</a></li>
        <li><a href="#">Sub-2</a></li>
        <li><a href="#">Sub-3</a></li>
      </ul>
    </li>
    <li><a href="#">Three</a></li>
  </ul>
</nav>-->